body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #ADD8E6, #4682B4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(to right, #ADD8E6, #4682B4);
}
.left-panel {
    flex: 1;
    padding: 0 10px; /* Adjust padding as needed */
    max-width: 250px;
    text-align: center;
}

.right-panel {
    flex: 1;
    padding: 0 10px; /* Adjust padding as needed */
}

Button {
    background-color: #3498db; /* Blue color */
    color: white; /* Text color (white in this case) */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 5px; /* Optional: Add rounded corners */
}

/* Style the button on hover */
Button:hover {
    background-color: #2980b9; /* Darker shade of blue on hover */
}

#searchHistory {
    list-style-type: none;
    padding: 15px;
    color: #000;
}

#searchHistory li {
    background-color: #f2f2f2 !important; /* Add !important to override browser default */
    padding: 8px 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchHistory li:hover {
    background-color: #d5d4d4 !important;
}

#searchHistory li:last-child {
    margin-bottom: 0;
}
